*{
    box-sizing: border-box;

    margin:0px;
    padding: 0px;
}

/*------------
   debug
   --------*/
.debug header{
     background-color: #add8e6;
     height: 50px;
     padding-top: 10px;
}
.debug .header-top{
    background-color: #daa520;
    height: 50px;
    border: 2px solid black;
    height: 30px;
}
.debug .download-window{
    height: 500px;
    background-color: #00008b;
    padding-top: 50px;
}
.debug .download{
    background-color: #ee82ee;
    max-width: 910px;
    height: 400px;
    margin: auto;
    border: 2px solid black;
    
}
.debug .content{
    height: 600px;
}
.debug .row{
    background-color: white;
    border: 1px solid black;
}
.debug .col-big{
    background-color: #1e90ff;
    height: 500px;
}
.debug .col-small{
    background-color: #ffc0cb;
    height: 500px;
}

/*--------
  common
  ----*/
.container{
    max-width: 1200px;
    margin: auto;
}

/*header-----
----------*/
.header{
    padding: 16px 0px;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*-------
  main---*/
.content{
    padding-top: 50px; 
}
.row{
    display: flex;
}
.col-big{
    max-width: 60%;

}
.col-small{
    max-width: 40%;
}
.sezioni :nth-child(even){
    background-color: #d3d3d3;
}
