*{
    box-sizing: border-box;

    margin:0px;
    padding: 0px;
}

/*------------
   debug
   --------*/
.debug header{
     background-color: #add8e6;
     height: 50px;
     padding-top: 10px;
}
.debug .header-top{
    background-color: #daa520;
    height: 50px;
    border: 2px solid black;
    height: 30px;
}
.debug .download-window{
    height: 500px;
    background-color: #00008b;
    padding-top: 50px;
}
.debug .download{
    background-color: #ee82ee;
    max-width: 910px;
    height: 400px;
    margin: auto;
    border: 2px solid black;
    
}
.debug .content{
    height: 600px;
}
.debug .row{
    background-color: white;
    border: 1px solid black;
}
.debug .col-big{
    background-color: #1e90ff;
    height: 500px;
    border: 1px solid black;
}
.debug .col-small{
    background-color: #ffc0cb;
    height: 500px;
    border: 1px solid black;
}
.debug .big-section{
    height: 1000px;
    background-color: #d3d3d3;
}
.debug .big-row{
    background-color: #228b22;
    height: 900px;
}
.debug .collegamenti{
    height: 630px;
    background-color: #23272a;
}
.debug .col-grande{
    background-color: #f08080;
    height: 575px;
    border: 1px dashed black;
}
.debug .col-piccolo{
    background-color: #20b2aa;
    height: 575px;
    border: 1px dashed black;
}
.debug .navigazioni{
    height: 575px;
}
.debug .foot{
    background-color: #7fffd4;
    height: 80px;
}
.debug .small-footer{
    background-color:#23272a ;
    height: 110px;
}
.debug .logobot{
    background-color: #ffb6c1;
    border: 1px dashed black;
}
.debug .registrati{
    background-color: #ffb6c1;
    border: 1px dashed black;
}
/*--------
  common
  ----*/
.container{
    max-width: 1200px;
    margin: auto;
}

/*header-----
----------*/
.header{
    padding: 16px 0px;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*-------
  main---*/
.content{
    padding-top: 50px; 
}
.row{
    display: flex;
}
.col-big{
    width: 60%;

}
.col-small{
   width: 40%;
}
.content:nth-child(2){
    background-color: #d3d3d3;
}
.big-section{
    padding-top: 50px;
}
.collegamenti{
   margin-bottom: 2px;
}
.col-grande{
    width: 30%;
}
.col-piccolo{
    width: 17.5%;
}
.navigazioni{
    display: flex;
}
.foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
